.App {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-weight: bold;
}

.title-app {
  padding: 20px 0;
  border-bottom: 1px solid rgb(240, 240, 240);
  box-shadow: 2px 2px 10px rgb(212, 212, 212);
}

.add-contact {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 280px;
}

.add-contact input,
label,
button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.addContact {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  border: none;
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
}

.search {
  background-color: rgb(240, 240, 240);
  height:35px ;
}

input:focus {
  border: 1px solid steelblue;
}

button {
  outline: none;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 7px 10px 0 10px;
  height: 30px;
  background-color: steelblue;
  color: aliceblue;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid steelblue;
  padding: 15px 280px;
  
}

.content-left {
 display: flex;
 align-items: center;
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userIcon {
  margin-right: 20px;
  font-size: 20px;
  color: steelblue;
}

.FaTrashAlt {
  font-size: 20px;
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.FaEdit{
  font-size: 20px;
  color: rgb(0, 185, 9);
  cursor: pointer;
  margin-left: 10px;
}

